<!doctype html>
<head>
    <title>Obama Quote Generator</title>

    <title>Silicon Valley</title>
    <!--<link rel=stylesheet type=text/css href="/static/style.css?cache={{time}}">-->
    <link rel=stylesheet type=text/css href="/static/style.css?cache={{time}}">
</head>

<body>
<div id="wrapper">
    <div id="navbar">
        Tets
    </div>

    <div id="sentence">{{ sentence }}</div>

    <div style="float: left">
        <input placeholder="Sentence Length" id="length">
        <button class="myButton" onclick="refreshSentence()">New Sentence</button>
        <button class="myButton" onclick="tweet()">Tweet</button>
    </div>
</div>
</body>

<script src="/static/jquery-3.2.1.min.js"></script>
<script>
    function refreshSentence(){
        var length = document.getElementById('length');

        $.ajax({
            url: "new",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({
                words: length.value
            }),
            dataType: 'json',
        }).done(function(object) {
            var text = document.getElementById('sentence');

            if (object['success'] === true){
                text.innerHTML = object['data'];
            }else{
                alert("Internal Error!");
            }
        });
    }

    function tweet(){
        var length = document.getElementById('length');

        $.ajax({
            url: "tweet",
            method: "post",
            contentType: 'application/json',
            data: JSON.stringify({
                words: length.value
            }),
            dataType: 'json',
        }).done(function(object) {
            var text = document.getElementById('sentence');

            if (object['success'] === true){
                text.innerHTML = object['data'];
            }else{
                alert("Internal Error!");
            }
        });
    }
</script>
